body{
background-color: gray;
}

section{
width: 600px;
height: 800px;
background-color: white;
margin: auto;
margin-top: 20px;
padding: 10px;
box-shadow: 5px 5px 10px black;
overflow: auto;



}

p.error{

color: red;
font-size: 22px;

}

article.dataposts{

background-color: lightgreen;
color: black;
font-family: Arial;
overflow: auto;


}